/* .center {
  text-align: center;
  border: 3px solid green;
} */

.centered_cursive {
  /* height: 50vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  /* color: antiquewhite; */
  font-size: 20px;
}

.centered_cambria {
  /* height: 50vh; */
  display: flex;
  justify-content: center;
  /* color: antiquewhite; */
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}

.paragraph_format {
  /* height: 50vh; */
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}

.background {
  /* background-image: url(../images/blue-background.jpeg); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: rgba(0, 0, 0, 0.2); */
  background-color: white;
  text-align: center;
}
